@section Scripts {
    <script src="~/js/products.js"></script>
}

<h4 class="display">PRODUTOS</h4>

<form id="frmPage">
    <div class="mb-3">
        <label for="txtpage" class="form-label">Página</label>
        <input type="text" class="form-control" id="txtpage">
    </div>
    <button id="btnNomePagina" type="submit" class="btn btn-primary">Submit</button>
</form>